# RabbitMQ
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
RABBITMQ_URI=amqp://guest:guest@localhost:5672

# API Gateway
PORT=3000

# Queues
API_QUEUE=api_queue
ADMIN_API_QUEUE=admin_api_queue

# Node Environment
NODE_ENV=development
